*
{	
margin:0; 
padding:0;
}
html, body
{
height:100%;
min-height:100%;
color:#fe001a;

}

body
{

font-family:Arial,Serif;
font-size:13px;
}
input[type="submit"]
{
width:230px;

}
p, hr
{
margin:5px 0;

}
form .busca
{
width:100px;
}

#contenedor
{
display:grid;
background-color:white;
grid-template-columns:auto 500px 300px auto;
grid-template-rows:60px 354px auto;
grid-gap:2px;
min-height:100%;
}

header
{
grid-column-start:2;
grid-column-end:4;
grid-row-start:1;
grid-row-end:2;
background-image:url("header-bg-2019.jpg");
padding-left:300px;
color:white;
line-height:60px;
}

#noiteCurta
{
grid-column-start:2;
grid-column-end:3;
grid-row-start:2;
grid-row-end:3;
padding-top:20px;
background-image:url("noiteCurta.jpg");
background-size:cover;
background-color:black;
}

#taboa
{
grid-column-start:2;
grid-column-end:4;
grid-row-start:3;
grid-row-end:4;
background-color:black;
}
#formulario
{
grid-column-start:3;
grid-column-end:4;
grid-row-start:2;
grid-row-end:3;
background-color:black;
}



#esquerda
{
grid-column-start:1;
grid-column-end:2;
grid-row-start:1;
grid-row-end:4;
background-color:black;
}
#dereita
{
grid-column-start:4;
grid-column-end:5;
grid-row-start:1;
grid-row-end:4;
background-color:black;
}

table
{
border-collapse:collapse;
width:600px;
margin: 0px auto;
}

hr
{
color:white;
}

td,th
{border-color:white; border-style:solid;border-width:1px; padding:3px;
font-size:13px;}
